<div class='position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light'>
  <div class='top-wrapper'>
    <div class='top-inner-text'>
      <h1>おてつだいノート</h1>
    </div>
    <div class='top-inner-image'>
      <%= image_tag 'top_image.png' %>
      <p>おてつだいをしておこづかいをためよう！</p>
    </div>
    <%= link_to 'はじめる', '#', class: 'btn btn-lg btn-primary' %>
    <%= link_to 'つづき', '#', class: 'btn btn-lg btn-primary' %>
  </div>
</div>
