<div id="<%= dom_id task %>">
  <p>
    <strong>Name:</strong>
    <%= task.name %>
    <%= link_to board_path(@board), id: "button-delete-#{@board.id}", data: { turbo_method: :delete, turbo_confirm: t('boards.board.confirm') } do %>
      <i class="bi bi-trash-fill"></i>
    <% end %>
  </p>

</div>
