<div class='container'>
  <%= render "layouts/header" %>
  <div class='position-relative overflow-hidden p-3 p-md-5 text-center bg-light'>
    <h2>おてつだい時間の合計：<%= @total_time %>時間</h2>
    <h2>おこづかい：<%= @total_count %>円</h2>
  </div>
</div>
