<div class='container'>
  <%= render "layouts/header" %>
  <div class='position-relative overflow-hidden p-3 p-md-5 text-center bg-light'>
    <h2>おてつだい時間の合計：<%= @total_time %>分</h2>
    <h2>おこづかい：<%= @total_money %>円</h2>
    <p>※時給850円で計算しています。</p>
  </div>
</div>
