<div class='position-relative overflow-hidden p-3 text-end bg-warning'>
  <%= link_to 'おてつだい登録', house_works_path %>
  <%= link_to 'せいかをみる', results_path %>
  <%= link_to 'ログアウト', logout_path, data: { turbo_method: :delete } %>
</div>